@model MovieRentalMVCApplication.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>Movie Name = @Model.MovieName</h3>
<h3>Release Date = @Model.ReleaseDate</h3>
<h3>Date Added = @Model.DateAdded</h3>
<h3>Stock = @Model.Stock</h3>

